{% extends 'base.html.twig' %}

{% block title %}Page d'accueil
{% endblock %}

{% block monTitre %}Page d'accueil
{% endblock %}


{% block body %}
	<a href="{{ path("personnages")}}">Lien personnage</a>

{% endblock %}
